@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background: url("./photo/bg\ el.png") no-repeat;
    margin: 0px auto;
}
@media (max-width: 767px) {
    body {
        background: url("./photo/bg\ el2.png") no-repeat;
    }
}

.header__content {
    margin: 0px auto;
    max-width: 1146px;
    margin-top: 21px; 
    margin-bottom: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__content {
    max-width: 1146px;
    margin: 0px auto;
}
.registration__form {
    max-width: 1146px;
    margin: 0px auto;
}
@media (max-width:1146px) {
    .header__content, .main__content, .registration__form{
        max-width: 970px;
    }
}
@media (max-width:992px) {
    .header__content, .main__content, .registration__form{
        max-width: 750px;
    }
}
@media (max-width:767px) {
    .header__content, .main__content, .registration__form{
        max-width: none;
        width: 100%;
    }
}

.logotype img {
    max-width: 100%;
}
@media (max-width:767px) {
    .logotype img {
        width: 162px;
        margin: 0px 20px;
    }
}

.contact_tel {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}
@media (max-width:767px) {
    .contact_tel {
        display: none;
    }
}

/* section main__description */

.main__description_content {
    max-width: 56%;
}
@media (max-width:767px) {
    .main__description_content {
        max-width: 100%;
    }
}

.date {
    font-size: 36px;
    line-height: 115%; 
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .date {
        font-size: 28px;
        margin: 0px 20px;
        margin-bottom: 30px;
    }
}

.main__description_content h2 {
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 68px;
    line-height: 115%;
}
@media (max-width:767px) {
    .main__description_content h2 {
        font-size: 44px;
        margin: 0px 20px;
    }
}

.main__description_content h2 span {
    background: #FDE509;
}

.three_points_header {
    font-weight: bold;
    font-size: 24px;
    line-height: 115%;
    margin-bottom: 10px;
}
@media (max-width:767px) {
    .three_points_header {
        font-size: 20px;
        max-width: 56%;
    }
}

.three_points {
    margin-top: 33px;
    margin-bottom: 40px;
    max-width: 99%;
}
@media (max-width:767px) {
    .three_points {
        max-width: 93%;
        margin: 0px 20px;
    }
}

.main__description_content ul {
    padding: 0;
}

.main__description_content ul img {
    max-width: 100%;
}
@media (max-width:767px) {
    .main__description_content ul img {
        min-width: 18px;
    }
}

.main__description_content ul li {
    list-style-type: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    padding: 5px;
}
@media (max-width:767px) {
    .main__description_content ul li {
        font-size: 16px;
        align-items: flex-start;
    }
}

.registration_describe {
    font-weight: bold;
    font-size: 20px;
    line-height: 115%;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 10px;
}
@media (max-width:767px) {
    .registration_describe {
        width: 80%;
        margin: 0px 20px;
        margin-bottom: 10px;
    }
}

.registration_button {
    width: 90%;
    height: 93px;
    background: linear-gradient(90deg, #5800E8 0%, #7D2DFF 98.44%);
    box-shadow: 0px 0px 26px 3px rgba(53, 53, 53, 0.38);
    border-radius: 48px;
    border: none;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
    cursor: pointer;
}
@media (max-width:767px) {
    .registration_button {
        width: 90%;
        height: 75px;
        font-size: 28px;
        margin: 0px 20px;
        margin-bottom: 76px;
    }
}

.pages_block {
    display: flex;
    height: 116px;
    width: 90%;
}
@media (max-width:767px) {
    .pages_block {
        width: 90%;
        height: 137px;
        margin: 0px 20px;
    }
}

.pages__photo_block {
    width: 20%;
    height: 113px;
    border: 1px dashed #FFFFFF;
    border-radius: 15px 0px 0px 15px;
    background: #FD2828;  
    position: relative;  
}
@media (max-width:767px) {
    .pages__photo_block{
        width: 33%;
        height: 137px;
    }
}

.pages__photo_block img {
    position: absolute;
    top: 20px;
    right: 5px;
}
@media (max-width:767px) {
    .pages__photo_block img{
        width: 95%;
        height: 87px;
        top: 24px;
        right: 1px;
    }
}

.pages__describe_block {
    width: 79.5%;
    height: 113px;
    background: rgba(255, 255, 255, 0.62);
    border-radius: 0px 15px 15px 0px;
    position: relative;
}
@media (max-width:767px) {
    .pages__describe_block{
        height: 137px;
    }
}

.pages__describe_block p {
    font-weight: bold;
    font-size: 16px;
    line-height: 115%;
    padding: 15px 0px 0px 20px;
    margin: 0;
}

.pages__describe_block_info {
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: space-between;
}

.pages__describe_block_info span {
    font-weight: normal;
    font-size: 68px;
    line-height: 115%;
    color: #161616;
    margin: 0;
}

.pages__describe_block_info p {
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #161616;
    margin: 0;
    padding: 0;
}
@media (max-width:767px) {
    .pages__describe_block_info p {
        font-size: 18px;
    }
}

.speaker {
    position: relative;
    bottom: 260px;
    left: 800px;
    width: 198px;
    height: 43px;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: right;
    color: #FFFFFF;
}
@media (max-width:767px) {
    .speaker {
        bottom: 190px;
        left: 80px;
        width: 0px;
        height: 0px;
        width: 288px;
        font-size: 16px;
    }
}

/* section marathon__program */

.marathon__program_content {
    margin-top: 120px;
    margin-bottom: 90px;
}

.marathon_header h3 {
    margin: 0 auto;
    display: block;
    width: 35%;
    height: 43px;
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 44px;
    line-height: 115%;
    letter-spacing: 0.025em;
    color: #000000;
    background-color: #FDE509;
    margin-bottom: 38px;
    text-align: center;
    padding-top: 7px;
}
@media (max-width:767px) {
    .marathon_header h3 {
        font-size: 40px;
        width: 280px;
    }
}

.marathon_days {
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .marathon_days {
        display: block;
    }
}

.marathon_days h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #353535;
}

.marathon_days p {
    margin-top: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
}

.marathon__program_day {
    max-width: 32%;
    max-height: 562px;
    border: 2px solid #FD6108;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 36px;
    padding-right: 57px;
}
@media (max-width:767px) {
    .marathon__program_day {
        display: block;
        max-width: 100%;
        height: 607px;
        margin: 0px 20px;
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 50px;
    }
}

.marathon__program_day h3 {
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0.025em;
    color: #000000;
    margin-bottom: 9px;
}
@media (max-width:767px) {
    .marathon__program_day h3 {
        font-size: 32px;
    }
}

.marathon_date {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FD6A0A;
    margin-bottom: 15px;
}
@media (max-width:767px) {
    .marathon_date {
        font-size: 20px;
    }
}

/* section registration__form */

.page_footer {
    background: url("./photo/bg-footer.png") no-repeat;
}

.registration__form_content {
    width: 100%;
    display: flex;
    padding-top: 144px;
    padding-bottom: 70px;
    justify-content: space-between;
}
@media (max-width:767px) {
    .registration__form_content {
        display: block;
        padding-top: 70px;
        padding-bottom: 10px;
    }
}

.registration__form_description {
    width: 36%;
}
@media (max-width:767px) {
    .registration__form_description {
        width: 100%;
    }
}

.registration_header h3 {
    margin: 0;
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 40px;
    line-height: 115%;
    color: #000000;
    display: block;
    width: 56%;
    height: 32px;
    background-color: #FDE509;
    padding-left: 5px;
    padding-right: 5px;
}
@media (max-width:767px) {
    .registration_header h3 {
        font-size: 36px;
        width: 160px;
        margin: 0px 20px;
    }
}

.registration_header p {
    margin: 0;
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 32px;
    line-height: 115%;
    color: #000000;
    margin-bottom: 22px;
    margin-top: 5px;
}
@media (max-width:767px) {
    .registration_header p {
        font-size: 24px;
        margin: 0px 20px;
        margin-bottom: 15px;
    }
}

.registration_date, .registration_online {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
    margin-bottom: 24px;
}
@media (max-width:767px) {
    .registration_date, .registration_online {
        font-size: 16px;
        margin: 0px 20px;
        margin-bottom: 20px;
    }
}

.timer {
    font-family: 'Bebas Neue Bold';
    font-weight: bold;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #545454;
    margin-bottom: 5px;
    margin-top: 65px;
}
@media (max-width:767px) {
    .timer {
        margin-top: 30px;
    }
}

@media (max-width:767px) {
    .timer_on {
        min-width: 300px; 
        height: 83px;
    }
}

.registration__form_input {
    width: 57%;
    height: 523px;
    background: #FE810F;
    border-radius: 25px;
    display: block;
    text-align: center;
}
@media (max-width:767px) {
    .registration__form_input {
        width: 90%;
        height: 348px;
        margin: 0px 20px;
    }
}

.registration__form_fields {
    margin-left: 21%;
    margin-top: 127px;
}
@media (max-width:767px) {
    .registration__form_fields {
        margin-left: 14%;
        margin-top: 5px;
        padding-top: 45px;
    }
}

.decor__input {
    width: 69%;
    height: 70px;
    background: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    border: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #827E7E;
    display: block;
    margin-bottom: 12px;
    padding-left: 23px;
}
@media (max-width:767px) {
    .decor__input {
        width: 77%;
        height: 62px;
    }
}

.booking_button {
    width: 54%;
    height: 75px;
    background: linear-gradient(90deg, #5800E8 0%, #7D2DFF 98.44%);
    border-radius: 60px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 26px;
    cursor: pointer;
}
@media (max-width:767px) {
    .booking_button {
        width: 72%;
        height: 66px;
        margin-top: 14px;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.check {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 115%;
    color: #545454;
}
@media (max-width:767px) {
    .check {
        width: 90%;
    }
}

#checkbox {
    transform:scale(2.3);
    opacity:0.9;
    cursor:pointer;
}
@media (max-width:767px) {
    #checkbox {
        transform:scale(1.5);
        opacity:0.9;
        cursor:pointer;
    }
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('BebasNeueBold.woff') format('woff'),
    url('BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    };